
* {
  margin: 0px;
  padding: 0px;
  font-family: 'BarlowCondensed', sans-serif;
}

img {
    max-width: 100%;
    display: block;
    border-style: none;
}

.order_img_text{
    font-size: 25px;
}


.profile {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.profile_img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.avatar {
    max-width: 100%;
    height: auto;
    border: solid;
    border-width: 2px;
    border-color: #ece5e5;
    border-radius: 10px;
    padding:2%;
}

.avatar-user {
    max-width: 100%;
    height: auto;
    padding:2%;
}

.profile-btn-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 20px 0;
}
/*
#upload_img{
  width: 100%;
  margin:10px;
  background-color: #9e2a2b;
  padding: 5% 10% 5% 10%;
  border: none;
  font-size: 20px;
} */

#upload_label{
  width: 100%;
  margin:10px 10px 10px 0px;
  background-color:#9e2a2b;
  border: none;
  font-size: 20px;
  padding: 11px;
}

#upload_label:hover{
  background-color: #464646;
}

#profile_info_edit {
  display: none;
  color: #464646;
  padding: 5%;
  text-align: center;
  border: solid;
  border-width: 2px;
  border-color: #ece5e5;
  border-radius: 10px;
}

#update_profile{
  width: 100%;
  margin: 10px 0px 10px 10px;
  background-color:  #db7c26;
  border: none;
  font-size: 20px;
  color: white;
  padding: 11px;
}

/* Solid border */
hr.solid {
  border-top: 2px solid #ece5e5;
}

#update_profile:hover{
  background-color:  #464646;
}

#vendor_shop_name{
  font-weight: 700;
  color: #464646;
  font-size: 40px;
}

#vendor_date{
  font-weight: 400;
  color: #426a5a;
  font-size: 20px;
}

#vendor_shop_address{
  font-weight: 400;
  color: #464646;
  font-size: 25px;
  margin: 3% 0% 3% 3%
}

#vendor_shop_phone{
  font-weight: 400;
  color: #464646;
  font-size: 25px;
  margin: 3% 0% 3% 3%
}

#vendor_shop_email{
  font-weight: 400;
  color: #464646;
  font-size: 25px;
  margin: 3% 0% 3% 3%
}

input[type=text], select {
  width: 70%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=tel], select {
  width: 70%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 70%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 70%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


#save_profile{
  text-align: center;
  margin:10px;
  background-color:#426a5a;
  padding: 3% 6% 3% 6%;
  border: none;
  font-size: 20px;
  color: white;
}

#save_profile:hover{
  background-color:  #464646;
}

.products{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

#product_banner{
  margin-bottom: 1%;
  width: 100%;
}

#product_700_banner{
  display: none;
}

#product_900_banner{
  display: none;
}

.current_products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
}

.product_img {
  border: solid;
  border-width: 2px;
  border-color: #ece5e5;
  max-width: 100%;
  display: block;
  border-style: none;
}

.preview_img_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    margin: 1%;
}
.preview_img_text {
  font-size: 20px;
  color: #464646;
}

.center {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}

.close {
  color: #aaa;
  font-size: 50px;
  font-weight: bold;
  margin-right: 3%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup-overlay {
  width: 50%;
  z-index: 999999;
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: absolute;
  background: #ffffff;
  border: 3px solid #666666;
  /* width: 50%;
  height: 50%; */
  left: 25%;
}

.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: center;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}
#add_product{
  border: none;
  border-style: none;
}

#product_plus_btn{
  max-width: 100%;
  display: block;
  border-style: none;
}

#add_product_form {
  color: #464646;
  padding: 5%;
  text-align: center;
}

#upload_product_img{
  margin:10px;
  background-color:#9e2a2b;
  padding: 2% 6% 2% 6%;
  border: none;
  font-size: 25px;
}

#save_new_product{
  text-align: center;
  margin:10px;
  background-color:#426a5a;
  padding: 2% 6% 2% 6%;
  border: none;
  font-size: 25px;
  color: white;
}

#save_new_product:hover{20
  background-color:  #464646;
}

#view_store{
  padding: 3% 9% 3% 9%;
  background-color:  #f7b538;
  border: none;
  margin:10px;
  font-size: 40px;
}

#view_store:hover{
  background-color:  #464646;
}

.orders{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

#orders_banner{
  margin-bottom: 2%;
  width: 100%;
}

#orders_700_banner{
  display: none;
  margin-bottom: 2%;
  width: 100%;
}

#orders_900_banner{
  display: none;
  margin-bottom: 2%;
  width: 100%;
}


.accordion-wrap{
    margin-bottom: 1%;
}

.accordion {
  font-weight: 400;
  background-color: #464646;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  border:none;
}
.accordion:hover {
  background-color:  #f7b538;
  border:none;
}

.plus{
  float: right;
}

.order-img-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 50%;
}

.order_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.panel {
  font-size: 25px;
  color: #464646;
  padding: 4%;
  display: none;
  background-color: white;
  overflow: hidden;
}

#update_order{
  text-align: center;
  padding: 1% 4% 1% 4%;
  background-color: #db7c26;
  border: none;
  font-size: 25px;
  margin-top: 2%;
  color: white;
}

#update_order:hover{
  background-color: #464646;
}


#viewall_orders_btn{
  padding: 2% 8% 2% 8%;
  background-color:  #f7b538;
  border: none;
  margin-top: 2%;
  margin-bottom: 7%;
  font-size: 25px;
}

#viewall_orders_btn:hover{
    background-color:  #464646;
}

.status_badge {
  position: relative;
  background-color: #9e2a2b;
  right: 20px;
  float: right;
  border-radius: 5px;
  padding: 0px 20px;
}

.status_badge_shipped {
  position: relative;
  background-color:  #426a5a;
  right: 20px;
  float: right;
  border-radius: 5px;
  padding: 0px 20px;
}

@media only screen and (max-width: 1024px) {

.preview_img_text{
    font-size: 18px;
}

}


@media only screen and (max-width: 900px) {

  #product_banner{
    display: none;
  }

  #product_700_banner{
    display: none;
  }

  #product_900_banner{
    display: flex;
  }

  #orders_banner{
    display: none;
  }

  #orders_700_banner{
    display: none;
  }

  #orders_900_banner{
    display: flex;
  }

.preview_img_text{
    font-size: 20px;
}


.preview_img_container {
    max-width: 30%;
}

}

@media only screen and (max-width: 768px) {

  #product_banner{
    display: none;
  }

  #product_700_banner{
    display: flex;

  }

  #product_900_banner{
    display: none;
  }

  #orders_banner{
    display: none;
  }

  #orders_700_banner{
    display: flex;
  }

  #orders_900_banner{
    display: none;
  }

  .status_badge {
    position: relative;
    background-color: #9e2a2b;
    right: 20px;
    float: right;
    border-radius: 5px;
    padding: 0px 15px;
  }

  .status_badge_shipped {
    position: relative;
    background-color:  #426a5a;
    right: 20px;
    float: right;
    border-radius: 5px;
    padding: 0px 15px;
  }

  .preview_img_text{
      font-size: 15px;
  }
  .order_img_text{
      font-size: 20px;
  }
.preview_img_container {
    max-width: 40%;
}


 }

@media only screen and (max-width: 411px) {

  .preview_img_text{
      font-size: 14px;
  }
  .order_img_text{
      font-size: 20px;
  }
.preview_img_container {
    max-width: 48%;
}


}

 @media only screen and (max-width: 704px) {
   .row{
     display: block;
   }
 }
