.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.main-header img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.mobile_banner {
  display: none;
}


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 2em;
}
.banner img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}


#header_text{
      display: flex;
    font-size: 125px;
    margin-top: 3%;
    color: #FFFFFF;
      justify-content: center;
      align-items: center;
      font-family: 'Barlow Condensed', sans-serif;
      color: white;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

  .banner {
    display: none;
  }

  .mobile_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1em;
    width: 100%;
  }

  .mobile_banner img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%
}
#header_text{
  font-size: 80px;
}

 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (max-width: 420px) {

   .banner {
     display: none;
   }

   .mobile_banner {
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     margin-bottom: 1em;
     width: 100%;
   }

   .mobile_banner img {
       flex-shrink: 0;
       min-width: 100%;
       min-height: 100%
 }
 #header_text{
   font-size: 60px !important;
 }

  }
