.banner
{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 14cm;
}
.banner#checkout
{
    background-image: linear-gradient(rgba(21, 193, 58, 0.31),rgb(21, 193, 58, 0.31)), url(../images/cart/bannerapples.jpg);
}
.banner#cart
{
    background-image: linear-gradient(rgb(193,21,21,0.31),rgb(193,21,21,0.31)), url(../images/cart/bannerapples.jpg);
}
.banner#beeFarm
{
    background-image: linear-gradient(rgb(193,21,21,0.31),rgb(193,21,21,0.31)), url(../images/bees_banner.jpg);
}
.bannerImage
{
    width: 100%;

}
.bannerTitle
{
    display: flex;
      justify-content: center;
      align-items: center;
      height: 7cm;
      font-size: 6em;
      font-family: 'Barlow Condensed', sans-serif;
      color: white;
}
