.banner
{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    height: 7cm;
}
.banner#checkout
{
    background-image: linear-gradient(rgba(21, 193, 58, 0.31),rgb(21, 193, 58, 0.31)), url(../images/cart/bannerapplesSmall.jpg);
}
.banner#cart
{
    background-image: linear-gradient(rgb(193,21,21,0.31),rgb(193,21,21,0.31)), url(../images/cart/bannerapplesSmall.jpg);
}
.bannerImage
{
    width: 100%;
    
}
.bannerTitle
{
    display: flex;
      justify-content: center;
      align-items: center;
      height: 7cm;
      font-size: 6em;
      font-family: 'Oswald', sans-serif;
      color: white;
}