.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.main-header img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 2em;
}
.banner img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

img {
    max-width: 100%;
    display: block;
    border-style: none;
}

#header_text{
  font-family: 'BenchNine', sans-serif;
    display: flex;
    font-size: 125px;
    margin-top: 3%;
    color: #FFFFFF;
}

/* .banner
{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 7cm;
}
.banner#checkout
{
    background-image: linear-gradient(rgba(21, 193, 58, 0.31),rgb(21, 193, 58, 0.31)), url(../images/cart/bannerapples.jpg);
}
.banner#cart
{
    background-image: linear-gradient(rgb(193,21,21,0.31),rgb(193,21,21,0.31)), url(../images/cart/bannerapples.jpg);
}
.bannerImage
{
    width: 100%;

}
.bannerTitle
{
    display: flex;
      justify-content: center;
      align-items: center;
      height: 7cm;
      font-size: 6em;
      font-family: 'Oswald', sans-serif;
      color: white;
} */
