.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.main-header img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.mobile_banner {
  display: none;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 2em;
}
.banner img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

img {
    max-width: 100%;
    display: block;
    border-style: none;
}

#header_text{
  font-family: 'BenchNine', sans-serif;
    display: flex;
    font-size: 125px;
    margin-top: 3%;
    color: #FFFFFF;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .banner {
    display: none;
  }

  .mobile_banner {
    display: block;
  }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .banner {
    display: none;
  }

  .mobile_banner {
    display: block;
  }


 }
