.banner
{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgb(193,21,21,0.31),rgb(193,21,21,0.31)), url(../images/cart/bannerapplesSmall.jpg);
    height: 7cm;
}
.bannerImage
{
    width: 100%;
    
}
.content#cart
{
    background-color: #F2F2F2;
    height: 1000px;
}
.bannerTitle
{
    display: flex;
      justify-content: center;
      align-items: center;
      height: 7cm;
      font-size: 6em;
      font-family: 'Oswald', sans-serif;
      color: white;
}
.cartContainer
{
    display: flex;
}
.content#itemsContainer
{
   
    height: auto;
    /* background-color: violet; */
    /* max-width: 90em;
    margin: auto; */
    flex: 7;
}
.content#totalcontainer
{
   
    height: auto;
    /* delete later */
    height: 3em; 
    background-color: rgb(95, 32, 95);
    flex: 3;
}

/* items in cart */
.cartItem
{
    /* height: 100px; */
    background-color: #E8E8E8;
    max-width: 80%;
    margin: auto;
    margin-top: 1em;
    border-radius: 0.8em;

    display: flex;
}
.image
{
    max-width: 10em;
    display: flex;
      justify-content: center;
      align-items: center;
}
.image > img
{
    /* flex: 1; */
    /* background-image: url("/images/logo.png"); */
    height: auto;
    padding: 1em;
    display: block;
    /* height: 100%; */
    width: 100%;
    vertical-align: middle;
}
.text
{
    font-family: 'Segoe UI','Oswald', 'sans-serif';
    margin-top: 1.5em;
}
.text > p#title
{
font-size: 2em;
}
.text > p#subtitle
{
    font-size: 1em;
}
.text > p#stock
{
    font-size: 1em;
    color: #3FA87E;
}
.quantity
{

}
.quantityFrame
{
background-color: #707070;
border-radius: 2em;
margin-top: 1.4em;
}
.priceRemove
{
    position: relative;
    width: auto;
    font-family: 'Segoe UI','Oswald', 'sans-serif';
}
.price
{
padding: 2em;
}
.remove
{
position: absolute;
bottom: 0;
left: 0;
margin: 0.5em;

}
.remove > i{
    margin-right: 0.5em;
}


/* <div class="priceRemove" id="priceRemove">
<div class="price">
    <p>$2.99</p>
</div>
<div class="remove">
    <i class="fa fa-trash" aria-hidden="true">Remove</i>
</div>
</div> */

@media (max-width: 1040px) {
    .content#itemsContainer, .content#totalcontainer {
      display: block;
    }
    .cartContainer
    {
        display: block;
    }
    .cartItem
    {
        max-width: 100%;
        margin: auto;
        margin-top: 1em;
        border-radius: 0.8em;
        height: auto;
    }
    .text
    {
        display: block;
        flex: none;
        margin: 0;
        margin-left: 1.5em;
    }
    .image
    {
        display: flex;
      justify-content: center;
      align-items: center;
    }
    .text > p#title
    {
    font-size: 1.5em;
    }
    .text > p#subtitle
    {
        font-size: 1em;
    }
    .text > p#stock
    {
        font-size: 1em;
    }

    .image > img
    {
        padding-bottom: 0em;
    }

}

/* <div class="quantity" id="quantity">
                <div id="quantityFrame">
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" name="q" placeholder="1" min="1">
                </div> */
