/* Footer */
.ft-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    justify-content: space-around;
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
    color: #fff;
}
.ft-main ul {
    list-style: none;
    padding-left: 0;
}
footer {
    flex: 1;    /* same as flex-grow: 1; */
    background-color: #2b2b2b;
    color: #bbb;
    line-height: 1.5;
}
footer a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: underline;
}
.ft-title {
    color: #fff;
    font-family: 'BenchNine', sans-serif;
    font-size: 2rem;
    padding-bottom: 0.625rem;
}

form {
    display: flex;
    flex-wrap: wrap;
}
input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}
input[type="submit"] {
    background-color: #9e2a2b;
    color: #fff;
    cursor: pointer;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border: 0;
    margin-top: 0.3125rem;
}
input[type="submit"]:hover{
    background-color: #f7b538;
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}
.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
    list-style: none;
}
.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;       /* same as flex-grow: 1; */
}

@media only screen and (max-width: 700px) {
  .ft-main{
  padding:2%;
  }

  .ft-title {
      font-size: 1.5rem;
  }
  .ft-main-item {
      min-width: 9rem;
  }
  p.ft-container {
    font-size:12px;
  }
ul{
      font-size:10px;
}


}


@media only screen and (max-width: 500px) {

.ft-main{
  padding:2%;
}

  .ft-title {
      font-size: 1rem;
  }
  .ft-main-item {
      min-width: 4rem;
  }

}
