*
{
    font-family: 'Barlow Condensed', sans-serif;
}
.profile {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.profile_img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#vendor_shop_name {
    font-weight: 700;
    color: #464646;
    font-size: 40px;
}
#vendor_date {
    font-weight: 400;
    color: #426a5a;
    font-size: 20px;
}
#vendor_address {
    font-weight: 400;
    color: rgb(70, 70, 70);
    font-size: 25px;
    margin: 3% 0% 3% 3%;
}
.avatar {
    max-width: 60%;
    height: auto;
    border-style: solid;
    border-image: initial;
    border-width: 2px;
    border-color: rgb(236, 229, 229);
    border-radius: 10px;
    padding: 2%;
}
#vendor_contact {
    font-weight: 400;
    color: rgb(70, 70, 70);
    font-size: 25px;
    margin: 3% 0% 3% 3%;
}
.products {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
.product_img {
    max-width: 20%;
    margin: 2%;
    border-style: solid;
    border-image: initial;
    border-width: 2px;
    border-color: rgb(236, 229, 229);
}
/* section banner */
.sectionBannerText#location
{

}
.sectionBannerText
{
    position: absolute;
    margin-left: -70px;
    left: 105px;
    font-size: 38px;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
}
.sectionBanner
{
    display: flex;
}
.sectionBanner#greyBar
{
    background-color: #464646;
    height: 56px;
    flex: 20;
}
.sectionBanner#yellowBar
{
    flex: 1;
    height: 56px;
    background-color: #F7B53A;
}
.sectionBanner#orangeBar
{
    flex: 1;
    height: 56px;
    background-color: #DA7C25;
}
.sectionBanner#redBar
{
    flex: 1;
    height: 56px;
    background-color: #9E2A2B;
}
.sectionBanner#greenBar
{
    flex: 1;
    height: 56px;
    background-color: #43695A;
}
/* end section banner */

/* big section banner */

.bigSectionBannerText
{
    position: absolute;
    margin-left: 25px;
    font-size: 58px;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
}
.bigSectionBanner
{
    display: flex;
    height: 90px;

}
.bannerColors
{
    width: 2em;
}
.bigSectionBanner#greyBar
{
    background-color: #464646;
    flex: 20;
}
.bigSectionBanner#yellowBar
{

    background-color: #F7B53A;
}
.bigSectionBanner#orangeBar
{

    background-color: #DA7C25;
}
.bigSectionBanner#redBar
{

    background-color: #9E2A2B;
}
.bigSectionBanner#greenBar
{

    background-color: #43695A;
}
/* end big section banner */

.current_products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.leftRightMargin
{
    /* margin: 7em 5em 5em 5em; */
}


@media only screen and (max-width: 1192px) {
    .col
    {
        flex-basis: initial;
    }
    .bannerColors
    {
        width: 1em;
    }
    .product_img {
        max-width: 46%;
    }

  }
  @media only screen and (max-width: 600px) {
    #vendor_contact {
        font-size: 20px;
    }
    #vendor_address {
        font-size: 20px;
    }
    }

    @media only screen and (max-width: 411px) {
      #vendor_contact {
          font-size: 12px;
      }
      #vendor_address {
          font-size: 20px;
      }
      }
