* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

  }
  @font-face {
    font-family: BarlowCondensed;
    src: url('fonts\\BarlowCondensed-SemiBold.ttf');
    /* src: url({{asset('/public/fonts/BarlowCondensed-SemiBold.ttf')}}); */

}

.navbarLink {
    display: block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
  }
  img.cart
  {
    vertical-align: middle;
    max-height: 3em;
    max-width: 3em;
  }
  div.bar {
   background-color:#464646;
   font-family: 'BarlowCondensed','Ebrima', sans-serif;
   height: 6em;
   width:100%;
   display: flex;
   justify-content: space-around;
   position: relative;
   z-index: 1000;
   transition: all 0.3s ease-in-out;

  }
  div.navbarItems
  {
    display: flex;

  }
  div.verticalCenterContainer
  {
    position:relative;
  }

  div.navbarItem
  {
      font-size: 2em;
      padding: 0em 4em 0em 4em;
      margin: auto;
  }

  .navbarLink:hover{
  color: #f7b538;
}

  div.devider
  {
    color: #FFFFFF;
    background-color: #FFFFFF;
    width: 0.01em;
    height: 2.5em;
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
  }
  .navbarItem>a{
    color: #FFFFFF;
  }
  .navbarLogo
  {
    max-width: 11em;
    height: auto;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #464646;
    font-size: 20px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  @media only screen and (max-width: 658px) {
    div.navbarItem
    {

        padding: 0em 0em 0em 0em;
        margin: auto;
        margin-left:10px ;
        margin-right: 10px;

    }
    .logo
    {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5em;
    }
    .navbarLogo
  {
    max-width: 3em;
    height: auto;
  }
  }
