* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

  }
  @font-face {
    font-family: BarlowCondensed;
    src: url('fonts\\BarlowCondensed-SemiBold.ttf');
    /* src: url({{asset('/public/fonts/BarlowCondensed-SemiBold.ttf')}}); */
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  img.cart
  {
    vertical-align: middle;
    max-height: 2em;
    max-width: 2em;

  }
  div.bar {
   background-color: rgb(70,70,70);
   font-family: 'BarlowCondensed','Ebrima', sans-serif;
   height: 3em;

   display: flex;
   justify-content: space-between;
   position: relative;
   z-index: 1000;
   transition: all 0.3s ease-in-out;

  }
  div.navbarItems
  {
    display: flex;
  }
  div.verticalCenterContainer
  {
    position:relative;
  }
  
  div.navbarItem
  {
      
      padding: 0em 2em 0em 2em;
      margin: auto;
  }
  
  div.devider
  {
    color: #FFFFFF;
    background-color: #FFFFFF;
    width: 0.01em;
    height: 2em;
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
  }
  .navbarItem>a{
    color: #FFFFFF;
  }
  .navbarLogo
  {
    max-width: 6em;
    height: auto;
  }
  @media only screen and (max-width: 658px) {
    div.navbarItem
    {
        
        padding: 0em 0em 0em 0em;
        margin: auto;
        margin-left:10px ;
        margin-right: 10px;
      
    }
    .logo
    {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3em;
    }
    .navbarLogo
  {
    max-width: 3em;
    height: auto;
  }
  }