* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  @font-face {
    font-family: BarlowCondensed;
    src: url('fonts\\BarlowCondensed-SemiBold.ttf');
    /* src: url({{asset('/public/fonts/BarlowCondensed-SemiBold.ttf')}}); */
}

.navbarLink {
    display: block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
  }

  img.cart
  {
    vertical-align: middle;
    max-height: 3em;
    max-width: 3em;
  }

  .bar {
   background-color:#464646;
   font-family: 'BarlowCondensed','Ebrima', sans-serif;
   height: 100px;
   width: 100%;
   display: flex;
   justify-content: space-around;
   position: relative;
   z-index: 1000;
   transition: all 0.3s ease-in-out;
  }

  .mobile_bar {
    background-color:#464646;
    font-family: 'BarlowCondensed','Ebrima', sans-serif;
    height: 75px;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
  }

  div.verticalCenterContainer
  {
    position:relative;
  }

  div.navbarItem
  {
    font-size: 25px;
    padding: 0 10px;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

  }

  .navbarItem:first-child {
    border-left: none;
  }

  .navbarItem:last-child {
    border-right: none;
  }

  .no-left-border {
    border-left: none !important;
  }

  .no-right-border {
    border-right: none !important;
  }

  .navbarLink:hover{
  color: #f7b538;
}

  div.devider
  {
    color: #FFFFFF;
    background-color: #FFFFFF;
    width: 0.01em;
    height: 2.5em;
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
  }
  .navbarItem>a{
    color: #FFFFFF;
  }
  .navbarLogo
  {
    max-width: 10em;
    height: auto;
  }

  @media only screen and (max-width: 900px) {


    div.navbarItem
    {
      font-size: 20px;
      padding: 0 10px;
      margin: auto;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

    }

    .navbarLogo
    {
      max-width: 9em;
      height: auto;
    }

}

  @media only screen and (max-width: 700px) {


    .bar {
      display: none;
    }

    .mobile_bar {
      display: flex;
    }

  .mobile_menu_items {
    position: absolute;
    top: 75px;
    right: 0px;
    display: none;
    background-color:#f5f0f0;
    padding: 15px 15px 0px 15px;
    z-index: 99999;
  }

  .menu_items{
    padding: 5px 40px;
    font-size: 25px;
    color: #464646;
    text-align: center;
  }

  .menu_items:hover{
    font-size: 25px;
    color: #9e2a2b;
    text-decoration: none;
  }

    .navbarLogo
  {
    margin-left:15px;
    max-width: 60px;
    height: auto;
  }

.hamburger_menu{
  margin-right: 35px;
}

.close {
  font-size: 80px;
  color: #464646;
  font-weight: bold;
  text-align: center;
  opacity: 1;
  float: none;
  margin-top: -30px;
}

.close:hover,
.close:focus {
  color: #464664;
  text-decoration: none;
  cursor: pointer;
}

/* Solid border */
hr.solid {
  border-top: 2px solid #ece5e5;
}

}
