
.content{
  display: flex;
}

/* Category Bar */
div.category-bar{
    background-color: rgb(70,70,70);
    font-family: 'BarlowCondensed','Ebrima', sans-serif;
    height: 5em;
    font-size: 2vw;
    display: flex;
align-items: center;

    transition: all 0.3s ease-in-out;
	padding-right: 2%;
padding-left: 2%;
}

div.category-bar-item{
	display: flex;
    justify-content: space-evenly;
align-items: center;
	width:100%;

}

div.category-bar-item > a{
    color: #FFFFFF;
}

.category-bar-link{
    display: inline;
    text-decoration: none;
}

.category-bar-link:hover{
    text-decoration: underline;
}

/* Filter Sidebar */
.filterContainer{
  flex: 1;
}

.filterSidebar{
  background-color: #E8E8E8;
  margin: auto;
  margin-top: 2em;
  margin-left: 0;
  border-radius: 0.8em;
  padding: 20px 20px;
}

.sidebar-link{
  display: block;
  text-decoration: none;
  color: black;
}

.sidebar-link:hover{
    text-decoration: underline;
    color: inherit;
}

/* Content */
.productContainer{
    flex: 9;
}

.productItem{
    background-color: #E8E8E8;
    max-width: 85%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 0.8em;
    display: flex;
}

.imageTextContainer{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.image{
    max-width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image > img{
    height: auto;
    padding: 1em;
    display: block;
    width: 100%;
}

.text{
    font-family: 'Segoe UI','Oswald', 'sans-serif';
    vertical-align: left;
    display: flex;
    align-items: center;
}

.text > div > p#title{
    font-size: 1.5em;
}

.text > div > p#subtitle{
    font-size: 1em;
}

.text > div > p#stock{
    font-size: 1em;
    color: #3FA87E;
}

.addToCart{
    padding: 2em;
}

.cartitembutton{
  margin: 5px 0;
  padding: 0 25px;
  height: 60px;
  width: auto;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.quantityWraper
{
    display: flex;
}
.quantityWraper >div
{
    flex: 1;
    margin-top: 1em;
}

.QuantityInput
{
    max-width: 50px;
    height: 30px;
    border: none;
    text-align: center;
}
.QuantityButton
{
    height: 30px;
    width: 30px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.price{
  font-size: 20px;
}

/* used to remove formating on buttons */
.removeButton
{
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: #E8E8E8;
}
.addToCart-link{
  text-decoration: none;
  color: inherit;
}


/* Modal Window */
.modal-window{
  display: none;
  background-color: rgb(70,70,70);
  color: white;
  width: 600px;
  height: auto;
  border: 1px #303030;
  position: absolute;
  top: 60%;
  left: calc(50% - 300px);
  z-index: 999;
  padding: 10px;
  text-align: center;
  border-radius: 0.8em;
}

.modal-text{
  display: flex;
  flex:1;
  padding-left: 15px;
}

/*#blanket{
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width:100%;
    height:100%;
    background-color: LightGrey;
    opacity: 0.5;
    z-index: 888;
}*/

 @media only screen and (max-width: 768px) {
div.category-bar{
    font-size: 1.5em;
}


  }

 @media only screen and (max-width: 500px) {
div.category-bar{
    font-size: 10px;
}


  }


 @media only screen and (max-width: 411px) {


  }

