/* Navbar has been moved to navBar.css*/

/* .navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  font-family: 'BenchNine', sans-serif;
  font-size: 2em;
  color: #404040;
}

.navbar__logo-container {
  height: 8vh;
  width: 300px;
}

.navbar.active {
    height: 10vh;
    background-color: #ebf9dd;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.logo.active {
  background-image: url("../images/IT-Logo-sm.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: inherit;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.navbar-items {
  display: flex;
  justify-content: flex-end;
}

.navbar__item {
  margin: 20px 20px;
}

.navbar__item.active {
  margin 0 auto;
  transition: all 0.3s ease-in-out;
  font-size: 0.8em;

}

.navbar__item:hover {
    color: #336600;
}

.navbar__item:last-child {
  margin-right: 50px;
} */

/* Content */

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color:#f5f0f0!important;
  margin: 50px;
}

.modal-body {
  /* background-color: #464646; */
}

.mb-4 {
  text-align: left;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */

.container {
  max-width: 100%;
  margin:auto;
  /* overflow: auto; */
  padding:0 2rem;
}

.category {
  width: auto;
  height: 80px;
  background-color: #464646;
  margin-top: 3rem;
}

#cat_title {
  padding-left: 40px;
  font-family: 'Oswald', sans-serif;
  font-size:50px;
  font-weight: 400;
  color: white;
}

.cat_buttons{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#produce_btn {
  font-family: 'Oswald', sans-serif;
  font-size:40px;
  color: #426a5a;
  background-color:#f1eded;
  width: 100%;
  height: 150px;
  border-width: 5px;
  border-color: #426a5a;
  padding-top: 40px;
  padding-bottom: 40px;
}

#produce_btn:hover{
  background-color: #426a5a;
  color: white;
}

#meat_btn {
  font-family: 'Oswald', sans-serif;
  font-size:40px;
  color: #9e2a2b;
  background-color:#f1eded;
  width: 100%;
  height: 150px;
  border-width: 5px;
  border-color: #9e2a2b;
  padding-top: 40px;
  padding-bottom: 40px;
}

#meat_btn:hover{
  background-color: #9e2a2b;
  color: white;
}

#dairy_btn {
  font-family: 'Oswald', sans-serif;
  font-size:40px;
  color: #db7c26;
  background-color:#f1eded;
  width: 100%;
  height: 150px;
  border-width: 5px;
  border-color: #db7c26;
  padding-top: 40px;
  padding-bottom: 40px;
}

#dairy_btn:hover{
  background-color: #db7c26;
  color: white;
}

#honey_btn {
  font-family: 'Oswald', sans-serif;
  font-size:40px;
  color: #f7b538;
  background-color:#f1eded;
  width: 100%;
  height: 150px;
  border-width: 5px;
  border-color: #f7b538;
  padding-top: 40px;
  padding-bottom: 40px;
}

#honey_btn:hover{
  background-color: #f7b538;
  color: white;
}

#bakery_btn {
  font-family: 'Oswald', sans-serif;
  font-size:40px;
  color: #78675a;
  background-color:#f1eded;
  width: 100%;
  height: 150px;
  border-width: 5px;
  border-color: #78675a;
  padding-top: 40px;
  padding-bottom: 40px;
}

#bakery_btn:hover{
  background-color: #78675a;
  color: white;
}

#viewall_btn {
  font-family: 'Oswald', sans-serif;
  font-size:40px;
  color: #464646;
  background-color:#f1eded;
  width: 100%;
  height: 150px;
  border-width: 5px;
  border-color: #464646;
  padding-top: 40px;
  padding-bottom: 40px;
}

#viewall_btn:hover{
  background-color: #464646;
  color: white;
}

.main-header{
  height: 70vh;
  background-image: url('../images/header-image-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
}

img {
    max-width: 100%;
    display: block;
    border-style: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card-body {
  text-align: center;
  margin-right: 50px;
}

.carousel-control-prev {
  padding-right: 50px;
}

.carousel-control-next {
  padding-left: 50px;
}

  /* Active slider card */

.featured-card {
    background-color: #9e2a2b;
    padding-top: 20px;
}

.featured-title {
  font-family: 'Oswald', sans-serif;
  font-size:60px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-right: 80px;
  margin-left: 30px;
}

.featured-desc {
  font-family: 'Oswald', sans-serif;
  font-size:50px;
  font-weight: 300;
  color: white;
  text-align: center;
  margin-right: 80px;
  margin-left: 30px;
}

#featured_btn {
  font-family: 'Oswald', sans-serif;
  background-color: #9e2a2b;
  font-size:30px;
  color: #f7b538;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  border-width: 5px;
  border-color: #f7b538;
}

#featured_btn:hover{
  background-color: #f7b538;
  color: white;
}

  /* Vendor slider card #1 */

  .vendor1-card {
      background-color: #f7b538;
      padding-top: 20px;
  }

  .vendor1-title {
    font-family: 'Lora', serif;
    font-size:20px;
    font-weight: 700;
    color: #464646;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
  }

  .vendor1-desc {
    font-family: 'Josefin Slab', serif;
    font-size:20px;
    font-weight: 600;
    color: #3d3d3d;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
  }

  #vendor1_btn {
    font-family: 'Oswald', sans-serif;
    background-color: #464646;
    font-size:20px;
    color: #white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-style: none;
  }

  #vendor1_btn:hover{
    background-color: #db7c26;
    color: white;
  }

  /* Vendor slider card #2 */

  .vendor2-card {
      background-color: #426a5a;
  }

  .vendor2-title {
    font-family: 'Oswald', sans-serif;
    font-size:30px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #94b336;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
  }

  .vendor2-desc {
    font-family: 'Inter', sans-serif;
    font-size:20px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
  }

  #vendor2_btn {
    font-family: 'Oswald', sans-serif;
    background-color: #464646;
    font-size:20px;
    color: #white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-style: none;
  }

  #vendor2_btn:hover{
    background-color: #94b336;
  }

}
/* Footer */
.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
    color: #fff;
}
.ft-main ul {
    list-style: none;
    padding-left: 0;
}
footer {
      flex: 1;    /* same as flex-grow: 1; */
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
}
footer a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: underline;
}
.ft-title {
    color: #fff;
    font-family: 'BenchNine', sans-serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

form {
    display: flex;
    flex-wrap: wrap;
}
input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}
input[type="submit"] {
    background-color: #ebf9dd;
    color: #404040;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}
.ft-social {
    padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}
.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
    list-style: none;
}
.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;       /* same as flex-grow: 1; */
}
@media only screen and (min-width: 29.8125rem /*477px*/) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-main {
        justify-content: space-evenly;
    }
}

/* .footer {
  width: 100%;
  height: 300px;
  background-color: #404040;
}
.flex-grid {
  display: flex;
  justify-content: space-between;
}
.flex-grid .col {
  flex: 1;
}

@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
} */


/* Slide */
